.home_page_photo {
    
    width: 200px;
}


/******* Home Page Pagination *********/

.pager .active a {

background-color: #000;
color: #fff;


}


.pager .active a:hover {

background-color: #000 !important;
color: #fff;

}

/******Photo Library Modal Code**********/

.modal-dialog {
width: 90% !important;



}

.modal-body {
overflow: auto;
height: 500px !important;
min-height: 300px !important;
}

.modal_thumbnails {

    width: 150px;
    height: 100px !important;
}

#set_user_image {

margin:10px;

}


#modal_sidebar {

position: fixed !important;

}
